@import "./resources/assets/sass/component";

.component-timeline {
    @at-root #{&}__date-title {
        color: $navy;
        font: $font-regular rem(22) $primary-font-family;
    }
    @at-root #{&}__container {
        margin-top: 2em;
    }
    @at-root #{&}__event {
       display: flex;
       position: relative;
       padding-left: 2.5em;
       padding-bottom: 1.5em;
       &::before {
           content: "";
           left: 0;
           height: 100%;
           margin-top: .8em;
           margin-left: .25em;
           position: absolute;
           border-left: 1px solid $navy;
       }
       &:last-child::before {
           border-color:transparent;
       }

       @include media-breakpoint-down(sm) {
           flex-direction: column;
       }
    }
    @at-root #{&}__event-time {
        margin: 0;
        width: 15%;
        color: $navy;
        display: flex;
        font: $font-regular rem(16) $primary-font-family;
        &::before {
            content:"";
            left: -2.3rem;
            z-index: 1;
            width: .62em;
            height: .62em;
            display: block;
            margin-top: .4em;
            position: absolute;
            background: $white;
            border-radius: 50%;
            border: 1px solid $navy;
        }
        @include media-breakpoint-down(sm) {
            width: 100%;
            margin-bottom: .6em;
        }
    }
    @at-root #{&}__event-content {
        width: 80%;
        padding-right: 2em;
        @include media-breakpoint-down(sm) {
            width: 100%;
            padding-right: 0;
        }
    }
    @at-root #{&}__event-title {
        margin: 0;
        margin-top: 1em;
        color: $greyish-brown;
        font: $font-medium rem(16) $primary-font-family;
        &:first-child {
            margin-top: 0;
        }
    }
    @at-root #{&}__event-desc {
        color: $greyish-brown;
        font: $font-regular rem(16) $primary-font-family;
        margin: 0;
        &:last-child {
            margin-bottom: 1em;
        }
    }
}