.folder-index-page{

    .shell{
        width:100%;
        border:0px solid #000000;

        a{
            text-decoration:none;
            color:#666666;

            &:hover{
                text-decoration:none;
                color:#000000;
            }

        }

    }

    .head {
        border-bottom:1px solid #eaecee;
        overflow: hidden;
    }

    .menu{
        padding:0px 0px 5px 0px;
        float:left;

        a {
            margin-right: 10px;
            padding: 15px;
            background-color: #fff;
            height: auto;
            width: auto;
            background-position: center;
            border: 1px solid #f5f5f5;
        }

    }

    .js-filer-tree{
        margin-top: 10px;

        i:after{
            font-family: 'FontAwesome';
            position: absolute;
            transform: translate(-50%,-50%);
        }

        i.root:after{
            content: '\f07b';
        }
        i.knot:after{
            content: '\f07b';
        }
        i.leaf:after{
            content: '\f016';
        }
        i.knot_leaf:after{
            content: '\f07b';
        }

    }

    .js-filer-cut > a {
        color: gray;
    }
    .js-filer-meter{
        margin-left: 5px;
    }
    span.js-filer-menu img{
        vertical-align: middle;
    }

    .js-filer-menu{
        position: relative;

        > a{
            width: 16px;
            height: 16px;
            vertical-align: top;
            text-align: center;
            font-style: normal;

            &[href$="-no"]:hover {
              cursor: default;
            }

            &:after{
                font-family: 'FontAwesome';
                position: absolute;
                transform: translate(-50%,-50%);
            }

            &[class*="-no"]{
                opacity: 0.4;
                cursor: default;
            }

        }

    }

    .jstree-default{

        .jstree-anchor {
            line-height: 28px;
            height: 30px;
        }

        .jstree-icon:empty {
            width: 28px;
            height: 28px;
            line-height: 28px;
        }

    }

    .jstree-contextmenu li i {
        &:after{
            font-family: 'FontAwesome';
            position: absolute;
            transform: translateX(-50%);
        }
    }

    ._pvw, ._pvw-no {
        &:after{
            content: '\f06e';
        }
    }
    ._sch, ._sch-no {
        &:after{
            content: '\f002';
        }
    }
    ._new, ._new-no {
        &:after{
            content: '\f07b';
        }
    }
    ._add, ._add-no {
        &:after{
            content: '\f15b';
        }
    }
    ._ren, ._ren-no {
        &:after{
            content: '\f031';
        }
    }
    ._del, ._del-no {
        &:after{
            content: '\f1f8';
        }
    }
    ._cpy, ._cpy-no {
        &:after{
            content: '\f0c5';
        }
    }
    ._cut, ._cut-no {
        &:after{
            content: '\f0c4';
        }
    }
    ._pst, ._pst-no {
        &:after{
            content: '\f0ea';
        }
    }
    ._cmp, ._cmp-no {
        &:after{
            content: '\f009';
        }
    }
    ._edt, ._edt-no {
        &:after{
            content: '\f044';
        }
    }


}