@import "./resources/assets/sass/component";

.component-mapa {
    margin: 4em 0;

    @at-root #{&}__title {
        color: $navy;
        margin-bottom: .8em;
        font: $font-bold rem(25) $primary-font-family;
    }

    .map {
        width: 100%;
        height: 30em;
        background-color: $grey-background;
    }

    .popup-tip-anchor {
        height: 0;
        position: absolute;
        width: 200px;
      }

      .popup-bubble-anchor {
        position: absolute;
        width: 100%;
        bottom: /* TIP_HEIGHT= */
        8px;
        left: 0;
      }

      .popup-bubble-content {
        position: absolute;
        top: -4em;
        left: 0;
        padding: 1em;
        border-left: 8px solid #018fd6;
        transform: translate(-15%, -100%);
        background-color: white;
        border-radius: 5px;
        font-family: sans-serif;
        overflow-y: auto;
        max-height: 8em;
        h3 {
            width: 100%;
            padding: 0 0 5px;
            color: $navy;
            margin: 0;
            padding-top: 0;
            font-size: rem(16);
            font-family: $primary-font-family;
        }

        p {
            width: 100%;
            margin:0;
            font-size: 16px;
            color: $greyish-brown;
        }
      }

}

