@import "./resources/assets/sass/component";

.component-accordion-tda {

    .accordion {
        width: 100%;
        padding-left: 0;
        border-top: $border-item;

        @at-root #{&}__dropdown {
            list-style: none;
            padding: 1.5em 0;
            position: relative;
            border-bottom: $border-item;
        }
        @at-root #{&}__label {
            margin: 0;
            width: 100%;
            display: block;
            cursor: pointer;
            user-select: none;
            padding-left: 4rem;
            position: relative;
            color: $navy !important;
            font: $font-regular rem(22) $primary-font-family;
            @include media-breakpoint-down(xs) {
                padding-left: 3rem;
                font-size: rem(20);
            }

            &:before {
                content: "";
                top: 0;
                left: 0;
                width: 1.5em;
                height: 1.5em;
                position: absolute;
                @include transition(all .2s ease-in-out);
                background: url('images/arrow-right.svg') no-repeat center;
                background-size: contain;
            }
            &.active:before {
                transform: rotate(90deg);
                @include transition(all .2s ease-in-out);
            }
        }
        @at-root #{&}__content {
            display: none;
            clear: both;
            overflow: hidden;
            padding-top: 1em;

            .col-half {
                float: left;
                width: 70%;
                padding-right: 2em;
                padding-left: 4rem;
                @include media-breakpoint-down(sm) {
                    padding-right: 0;
                    width: 100%;
                }
                @include media-breakpoint-down(xs) {
                    padding-left: 3rem;
                }
            }
            p, a:not(.btn-t) {
                margin: .8em 0;
                line-height: 1.4;
                color: $greyish-brown;
                font: $font-regular rem(16) $primary-font-family;
            }

            a:not(.btn-t) {
                color: rgb(8, 82, 148);
                @include transition(color .2s ease-in-out);
                &:hover {
                    color: $cerulean;
                }
            }

            /* a:not(.btn-t) {
                display: flex;
                margin: 1em 0;
                align-items: center;
                color: $greyish-brown;
                font: $font-bold rem(16) $primary-font-family;
                @include transition(all .3s ease-in-out);

                &:after {
                    content: '';
                    width: 2em;
                    height: 2em;
                    display: block;
                    margin-left: 1em;
                    background: url('images/arrow-right.svg') no-repeat center;
                    background-size: contain;
                    @include transition(all .3s ease-in-out);
                }

                &:hover {
                    color: $navy;
                    &:after {
                        background: url('images/arrow-right_hover.svg') no-repeat center;
                        background-size: contain;
                    }
                }
            } */

            ul {
                padding-bottom: .5em;
                padding-left: 0;
                li {
                    margin: .7em 0;
                    line-height: 1.4;
                    list-style: none;
                    padding-left: .8em;
                    color: $greyish-brown;
                    position: relative;
                    font: $font-medium rem(16) $primary-font-family;
                    &:before {
                        content: "";
                        left: 0;
                        top: .5rem;
                        width: 5px;
                        height: 5px;
                        display: block;
                        border-radius: 50%;
                        position: absolute;
                        background: $greyish-brown;
                    }
                }
            }
        }

        .btn-t {
            height: 4em;
            float: right;
            width: 100%;
            max-width: 12em;
            font-weight: $font-medium;
            @include media-breakpoint-down(sm) {
                max-width: 100%;
            }
        }
    }

}

